@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --font-size: 16px;
  --font-family: 'Open Sans', sans-serif;

  /* COLORS */
  --main-dark: var(--surface-900);
  --secondary-dark: #272727;
  --white: #ffffff;
  --secondary-white: #c2c2c2;
  --accent: var(--p-primary-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--main-dark);
  color: var(--white);
}
